@font-face {
    font-family: myfont;
    src: url(../font/ttf/Arabica.ttf);
}
@font-face {
    font-family: describe_font;
    src: url(../font/otf/Quark-Light.otf);
}
@font-face {
    font-family: describe_font_b;
    src: url(../font/otf/Quark-Bold.otf);
}
html, body{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

header, section{
    display: block;
}

body{
    font-family: myfont;
    line-height: 1;
    -webkit-text-size-adjust: none;
    background: #202024;
}
h1, h2, h3, h4, p{
    color: #e0e0eb;
}


#banner{
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 8em 4em 6em 4em;
    min-height: 100vh;
    /*background-image: url("images/banner.jpg");*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-top: 0;
    position: relative;
    text-align: center;
    overflow: hidden;
}
#banner .inner{
    text-align: center;
    position: relative;
    z-index: 2;
}

#banner h1{
    color: #fff;
    font-size: 5em;
    font-weight: 400;
    font-family: 'Passion One', cursive;
    margin: 0;
}

#banner h2{
    color: #fff;
    font-size: 2em;
    font-weight: 400;
    font-family: 'Passion One', cursive;
    margin: 0;
}

#banner p{
    color: rgba(255, 255, 255, 0.85);
    font-size: 1.4em;
    font-weight: 300;
}

#banner a{
    color: rgba(255, 255, 255, 0.75);
    text-decoration: none;
    border-bottom: 1px dotted;
}

#banner a:hover{
    color: #FFF;
    border: none;
}

#banner .more{
    background-image: url("images/img_2.jpg");
    background-position: center ;
    background-repeat: no-repeat;
    background-size: auto;
    border: 1px solid #fff;
    border-radius: 100%;
    color: rgba(255, 255, 255, 0.75);
    display: block;
    height: 4em;
    width: 4em;
    margin: 0 auto 3em auto;
}

#banner .more:hover{
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid #fff;
    color: #FFF;
}

#banner video{
    transform: translateX(50%) translateY(50%);
    position: absolute;
    bottom: 50%;
    right: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;
}

#banner:before{
    content: '';
    background-color: #42424f;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.45;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
#main{
   padding-top: 3em;
}

#main .inner {
    width: 90%;
    max-width: 80em;
    margin: 0 auto;
}
.thumbnails{
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
}
.box{
    border-radius: 4px;
    margin-bottom: 2em;
    background: #2c2c32;
    text-align: center;
    margin: 0 1em 2em 1em;
    width: 30%;
}

@media screen and (max-width: 1280px) {
    .thumbnails .box {
        width: 45%;
    }

}

@media screen and (max-width: 736px) {
    .thumbnails .box {
       width: 100%;
   }
   #button1{
    padding-left: 1px;
    padding-right: 1px;
}

}

.box .image.fit{
    /*margin: 0;*/
}

.box .image img{
    border-radius: 4px 4px 0 0;
}

.box .inner{
    padding: 0.1em;
    width: 100% !important;
}

.image{
    border-radius: 4px;
    border: 0;
    display: inline-block;
    position: relative;
}
.image img{
    border-radius: 4px;
    display: block;
}
.image.fit{
    display: block;
    margin: 0 0 2em 0;
    width: 100%;
}
.image.fit img{
    width: 100%;
    width: 500;
    height: 300px;
}


.button {
    font-family: describe_font_b;
    font-size: 1.2em;
    appearance: none;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out, font-weight 0.6s ease-in-out;
/*    background-color: #ab91d7;*/
    border-radius: 4px;
    border: 0;
    color: #fff;
    display: inline-block;
    font-weight: 400;
    height: 2.85em;
    line-height: 2.95em;
    padding: 0 1.5em;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    width: 80%;
}
.c1{
    background-color:  #ff66ff;
}
.c2{
    background-color: #6699ff;
}
.c3{
    background-color: #ff6699;
}
.button:hover {
    background-color: #fff;
    color: #000;
    font-weight: bold;
}

.back{
    position: fixed;
    bottom: 8px;
    right: 10px;
}
#button1{
    width: 80px;
    height: 80px;
}

@media screen and (max-width: 768px) {
    #button1{
        padding-left: 1px;
        padding-right: 1px;
    }

}
@media only screen and (max-width: 600px) {
    #button1{
        padding-left: 1px;
        padding-right: 1px;
    }
}
@media only screen and (max-width: 992px) {
    #button1{
        padding-left: 1px;
        padding-right: 1px;
    }
}

#scrolldown{
    background-color: #202024;
    color: #e0e0eb;
    font-weight: bold;
    width: 75px;
    height: 75px;
    border-style: solid;
    border-radius: 50%;
    border-color: #202024 #e0e0eb;
    transition:border-color 0.5s ease-out;
}
#scrolldown:hover{
    border-style: solid;
    border-radius: 50%;
    border-color: #e0e0eb #202024;
}

.modal.and.carousel {
  position: fixed;
}
.modal-body{
    padding: 4px;
    padding-left: 1px;
    padding-right: 1px;
}
section:nth-child(2){
    height: 100vh;
}
footer>h1{
    display: block;
    color: #e0e0eb;
    text-align: center;
}
.inner > p{
    font-family: describe_font;
    padding-right: 15px;
    padding: 15px;
}

hr{
    margin-top: 10px;
}
#mylogo{
     position: absolute;
     top: 15px;
     left: 15px;
     border: 0;
     height:250px;
     width: 250px;
}